packages: [
  "apex-syntax"
  "atom-beautify"
  "atom-cljs-doc"
  "atom-light-ui-slim"
  "atom-notes"
  "autocomplete-paths"
  "busy-signal"
  "chestnut-light-atom-syntax"
  "chlorine"
  "editorconfig"
  "file-icons"
  "highlight-selected"
  "ink"
  "intentions"
  "language-babel"
  "language-bnf"
  "language-dot"
  "language-elm"
  "language-ohm"
  "language-org"
  "language-pegjs"
  "language-racket"
  "linter"
  "linter-tslint"
  "linter-ui-default"
  "lisp-paredit"
  "markdown-mindmap"
  "markdown-preview-enhanced"
  "markdown-toc"
  "minimap"
  "minimap-autohide"
  "minimap-codeglance"
  "minimap-find-and-replace"
  "minimap-highlight-selected"
  "open-plus"
  "org-mode"
  "package-sync"
  "parinfer"
  "proto-repl"
  "proto-repl-charts"
  "vim-mode-plus"
  "wordcount"
]
