# Based on https://github.com/neovim/neovim/blob/master/runtime/nvim.desktop
[Desktop Entry]
Name=NoteMX
GenericName=Notes
Comment=Take notes
TryExec=notemx
Exec=notemx %F
Type=Application
Keywords=Text;editor;
Icon=/home/me/code/notemx/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher.png
Categories=Utility;TextEditor;
StartupNotify=false
#MimeType=text/english;text/plain;text/x-makefile;text/x-c++hdr;text/x-c++src;text/x-chdr;text/x-csrc;text/x-java;text/x-moc;text/x-pascal;text/x-tcl;text/x-tex;application/x-shellscript;text/x-c;text/x-c++;
# StartupWMClass is important so that icon gets displayed in application switcher
StartupWMClass=NoteMX
